#root {
  max-width: 1280px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  width: 900px;
}

.navbar h2 {
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #555;
}

.page-block{
  width: 600px;
  text-align: center;
  margin: 50px auto 0;
  background-color: white;
  color: black;
  padding: 15px;
  min-height: 250px;
  border-radius: 5px;
}

.logo{
  color: white;
  text-decoration: none;
}
.logo:hover{
  text-decoration: underline;
}